body{

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 500px 1fr ;
    grid-template-rows: 1fr 500px 1fr; 
}

/* Machine (where it contains everything) */

#screenDisplay{

    width: 100px;
    background-color: red;
}

/* Buttons */
#numbersContainer button{

    height: 30px;
    width: 30px;

}

#operandersContainer button{
    height: 30px;
    width: 30px;
}

